<form method="post" action="{{ path('app_php_function_delete', {'id': php_function.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ php_function.id) }}">
    <button class="btn">Delete</button>
</form>
